.card-main {
    width: 100vh;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    column-gap: 9rem;
    row-gap: 9rem;
}

.card {
    perspective: 150rem;
    position: relative;
    overflow: visible;
    height: 15rem;
    max-width: 400px;
    margin: 2rem;
    box-shadow: none;
    background: none;
  }
  
  .card-side {
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0rem;
    color: white;
  }

  .card-side.front > img {
    height: calc(100vh/3 - 1rem);
    width: auto;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .card-side.back {
    height: calc(100vh/3 - 1.5rem);
    width: calc(100vh/3 - 1.5rem);
    transform: rotateY(-180deg);
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%,#C850C0 46%, #FFCC70 100%);
  }

  .card-side.back > div {
    margin: 10px;
  }

  .card-side.back > div > h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
  }
  
  .card-side.front {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  }
  
  .card:hover .card-side.front {
    transform: rotateY(180deg);
  }
  
  .card:hover .card-side.back {
    transform: rotateY(0deg);
  }

  .big-text {
    font-size: 1.2rem;
  }

  .smallPlus-text {
    font-size: 0.9rem;
  }

  .small-text {
    font-size: 0.8rem;
  }